<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "About"}); %>
  </head>
  <body class="container">
    <%- include("../partials/header", {active: "About"}); %>
    <main>
      <p><b>Test Project</b> developped by <code>InveterateCoder</code></p>
      <p><a href="https://inveteratecoder.github.io/" target="_blank">Portfolio</a></p>
      <p><a href="https://resume.io/r/HkdsVA57I" target="_blank">Resume</a></p>
    </main>
  </body>
</html>
