<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "About"}); %>
  </head>
  <body class="container">
    <%- include("../partials/header", {active: "About"}); %>
    <main>

    </main>
  </body>
</html>
