<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Home"}); %>
    <script>
      function debounce(fn, ms) {
        let timoutHandle = null;
        return function wrapper(...data) {
          clearTimeout(timoutHandle);
          timoutHandle = setTimeout(() => fn(...data), ms);
        };
      }
      async function getList(value) {
        const resp = await fetch("/api/list", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name: value }),
        });
        if (!resp.ok) return;
        const { list = [] } = (await resp.json()) || {};
        document.getElementById("uiList").replaceChildren(
          ...list.map((name) => {
            const item = document.createElement("li");
            item.className = "list-group-item";
            item.appendChild(document.createTextNode(name));
            return item;
          })
        );
      }
      const onNameChange = debounce(getList, 700);
    </script>
  </head>
  <body class="container">
    <%- include("../partials/header", {active: "Home"}); %>
    <main>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input
          id="formName"
          oninput="onNameChange(this.value)"
          type="text"
          class="form-control"
        />
      </div>
      <ul id="uiList" class="list-group"></ul>
    </main>
  </body>
</html>
